@font-face {
  font-family: 'Oswald';
  src: local('Oswald'), url(./Oswald-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  src: local('Fira Sans'), url(./FiraSans-Regular.ttf) format('truetype');
}
