@import '../../partials.scss';

.card {
  .card-wrap {
    position: relative;

    img {
      width: 100%;
    }

    .card-img {
      height: 52vw;
      width: 100%;
      max-height: calc(520px * 1.2);
      background-size: cover;
      background-position: center;
    }

    .card-content {
      background: $white;
      width: 60%;
      min-width: 245px;
      margin-top: -5em;
      margin-left: -1pt;
      @include global-spacing();
      position: relative;

      a h3::after {
        content: url('../../svg/arrow.svg');
        position: absolute;
        margin-left: 1em;
      }

      p {
        margin-top: 1em;
        // width: calc(35ch - 10%);
      }
    }

    &.article {
      .card-content {
        width: 100%;
        margin: 0;
      }
    }

    &.event {
      color: $white;
      cursor: pointer;

      .card-date {
        position: absolute;
        text-align: center;
        background: $white;
        @include global-spacing(2em, 4em);

        h1 {
          color: $pink;
        }

        h2 {
          font-weight: lighter;
          color: $slate;
        }
      }

      .card-img {
        height: 90vh;
        max-height: inherit;
        background-position: top center;
      }
      .card-content {
        position: absolute;
        width: 100%;
        min-width: 100%;
        margin: 0;
        bottom: 2em;
        background: rgba(0, 0, 0, 0);
      }
    }
  }

  .mobile {
    &.card-content {
      margin-top: 0;
      width: 100%;
      p {
        width: 100%;
      }
    }
  }
}
