@import '../../partials.scss';

.footer {
  @include global-spacing(6%);
  background: url('../../svg/logo-icon-transparent.svg') no-repeat;
  background-position: 10% 0%;
  background-size: 50%;
  border-top: 2px solid rgba(53, 95, 143, 0.1);
  position: sticky;
  bottom: 0;

  .footer-content {
    & > div:first-child {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        width: 100%;
      }
    }

    .footer-twitter {
      @include flex-position(center);
    }

    .footer-socials-list {
      img:not(:first-child) {
        margin-left: 1em;
      }
    }

    &.mobile {
      .footer-twitter {
        width: -webkit-fill-available;
      }
    }
  }
}
