@import './partials.scss';

.App {
  overflow: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.navbar-wrapper {
  position: fixed;
  width: 100vw;
}
