@import './partials.scss';

.App {
  overflow-x: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar-wrapper {
  @include global-spacing();
  position: relative;
}

.footer-wrapper {
}
