@import './partials.scss';

.App {
  overflow: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto;
  position: relative;
}

.logo {
  img {
    width: 8em;
  }
}

.page-wrapper {
  @include page-wrapper-padding();
}

.navbar-wrapper {
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.footer-wrapper {
  display: flex;
  align-items: flex-end;

  .footer {
    flex-grow: 1;
  }
}
