@import './partials.scss';

html {
  font-size: calc(2px + 1vw);

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  &,
  body {
    min-height: 100%;
  }
}

body {
  color: $dark-grey;
  font-family: 'Fira Sans', sans-serif;

  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;

  * {
    line-height: calc(1em + 1vw);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 3.4em;
  text-transform: uppercase;
}
h2 {
  font-size: 2.45em;
}
h3 {
  font-size: 1.45em;
}

.link,
a,
cite,
button {
  font-size: 1.22em;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $pink;
  }
}

hr {
  width: 5em;
  border: 1px solid;
  border-image: $hot-frost;
  border-image-slice: 1;
}

img {
  width: 100%;
}

button {
  $borderPositionCalc: -1px;
  $borderSizeCalc: calc(100% + 2px);

  cursor: pointer;
  color: inherit;
  background: $white;
  width: fit-content;
  height: fit-content;
  @include global-spacing($x: 15%);
  border: none;
  background: rgba(255, 255, 255, 0);
  position: relative;

  &:focus {
    outline: none;
  }

  &:after {
    content: '';
    position: absolute;
    clip-path: polygon(
      0% 0%,
      0% 100%,
      0.5% 100%,
      0.5% 2px,
      99.5% 2px,
      99.5% 98%,
      0% 98%,
      0% 100%,
      100% 100%,
      100% 0%
    );
    background-image: linear-gradient(
      130deg,
      #00c2ff,
      #ff27c3,
      #48e3da,
      #2dc5f5
    );
    background-size: 300%;
    top: $borderPositionCalc;
    left: $borderPositionCalc;
    height: $borderSizeCalc;
    width: $borderSizeCalc;
  }

  &:hover {
    &::after {
      animation: animatedGradient 3s alternate infinite;
    }
  }
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

// Mobile

.mobile {
  &,
  p {
    font-size: 16px;
  }

  h1 {
    font-size: 56px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px;
  }

  .link,
  a,
  cite,
  button {
    font-size: 20px;
  }
}
