@import './fonts/fonts.scss';
@import './partials.scss';

html {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  &,
  body {
    min-height: 100%;
  }
}

body {
  color: $dark-grey;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 56px;
  text-transform: uppercase;
  line-height: 64px;
}
h2 {
  font-size: 40px;
  line-height: 56px;
}
h3 {
  font-size: 24px;
  line-height: 48px;
}

.link,
a {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $pink;
  }
}

button {
  $borderPositionCalc: -1px;
  $borderSizeCalc: calc(100% + 2px);

  font-size: 20px;
  background: $white;
  width: fit-content;
  height: fit-content;
  @include global-spacing($horizontal: 10%);
  border: none;
  background: rgba(255, 255, 255, 0);
  position: relative;

  &:focus {
    outline: none;
  }

  &:after {
    content: '';
    position: absolute;
    clip-path: polygon(
      0% 0%,
      0% 100%,
      0.5% 100%,
      0.5% 2%,
      99.5% 2%,
      99.5% 97%,
      0% 97%,
      0% 100%,
      100% 100%,
      100% 0%
    );
    background-image: linear-gradient(
      130deg,
      #00c2ff,
      #ff27c3,
      #48e3da,
      #2dc5f5
    );
    background-size: 300%;
    top: $borderPositionCalc;
    left: $borderPositionCalc;
    height: $borderSizeCalc;
    width: $borderSizeCalc;
    z-index: -1;
  }

  &:hover {
    &::after {
      animation: animatedGradient 3s alternate infinite;
    }
  }
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
