$white: #fff;
$dark-grey: #333333;
$pink: #ff227f;
$slate: #3c444d;
$teal: #48e3da;
$hot-frost: linear-gradient(98.01deg, #00c2ff 14.16%, $pink 79.91%);
$cool-frost: linear-gradient(98.01deg, #2dc5f5 14.16%, $teal 79.91%);

$gb-pd-vertical: 1em;
$gb-pd-horizontal: 5%;

@mixin flex-position($vertical: auto, $horizontal: auto) {
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
  flex-wrap: wrap;
}

@mixin global-spacing(
  $verticle: $gb-pd-vertical,
  $horizontal: $gb-pd-horizontal
) {
  padding: $verticle $horizontal;
}

@mixin page-wrapper-padding($verticle: var(--navbar-height), $horizontal: 0) {
  padding: $verticle $horizontal;
}
