@mixin align-center-v {
  display: flex;
  align-items: center;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;

  .logo-wrapper,
  ul,
  .search_icon-wrapper {
    @include align-center-v();
  }

  .navLists {
    display: grid;
    grid-template-columns: 1fr fit-content(8ch);
    grid-gap: 5%;

    ul {
      justify-content: flex-end;
      flex-wrap: wrap;

      li:not(:first-child) {
        margin-left: 5%;
      }
    }
  }
}
