@import '../../partials.scss';

@mixin responsiveGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
}

.homepage {
  display: grid;
  grid-template-rows: 1fr;
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
  min-height: 90vh;
  max-height: 1024px;
  width: 100%;
  @include global-spacing();

  .header-content {
    @include flex-position(center, center);

    .header-content-wrap {
      display: grid;
      grid-gap: 2em;
    }
  }

  .header-hero,
  .hero-content {
    height: 100%;
  }

  .first_grid {
    grid-row: 1;
    padding-top: 5%;
  }

  .hero-content {
    object-fit: contain;
    background-size: cover;
    background-position: center 20%;
    min-height: calc(624px / 2);
    position: relative;
    overflow: hidden;
    @include flex-position(center, center);

    &::after {
      content: url('../../svg/logo-badge.svg');
      position: absolute;
      top: 1em;
      left: 5%;
    }

    .hero-img {
      width: 100%;
      object-fit: cover;
      object-position: top center;
      height: -webkit-fill-available;
    }
  }
}

section {
  @include global-spacing(5%);
}

.blog-section {
  padding-top: 5em;
  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr fit-content(40%);
    grid-gap: 2em;

    &.mobile {
      grid-template-columns: 1fr;
    }
  }
}

.articles-section,
.events-section {
  .card-wrapper {
    @include responsiveGrid();

    &.mobile {
      grid-template-columns: 1fr;

      & > div:last-child {
        grid-column: auto;
        grid-row: auto;
      }
    }

    @media screen and (max-width: 820px) {
      & > div:last-child {
        grid-column: 1/3;
        grid-row: 3;
      }
    }
  }
}
.articles-section {
  &.mobile {
    grid-template-columns: 1fr;
  }
}

.cta_banner-section {
  background-color: $slate;
  background-image: url('/assets/jpg/cta-banner-image.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  min-height: 415px;
  color: $white;
  @include global-spacing(8em);
  @include flex-position(center, center);

  & > div {
    text-align: center;
    @include flex-position(center, space-between);
    flex-direction: column;
    width: 60%;

    &.mobile {
      width: 100%;
      text-align: left;
      @include flex-position(flex-start);

      h2 {
        margin: 2rem 0;
      }
    }

    h2 {
      margin: 1rem 0 1.5rem;
    }
  }
}

.events-section {
  & > div:nth-child(1) {
    @include flex-position($horizontal: space-between);
    @include global-spacing(4em 0);

    &.mobile {
      button {
        margin: 1em 0;
      }
    }
  }
}
